In [15]:
import pandas as pd
import plotly.express as px
from datetime import date
from dateutil.relativedelta import relativedelta

d = date.today()
last_month = d.replace(day=31) - relativedelta(months=1)
earliest_month = last_month - relativedelta(months=18)

df = pd.read_csv('waiting_list.csv', parse_dates=[0])
df["date"] = pd.to_datetime(df["date"]).dt.date

In [11]:
type(last_month)

datetime.date

In [12]:
df

         date  waiting_list_size
0  2021-01-31                240
1  2021-02-28                236
2  2021-03-31                242
3  2021-04-30                263
4  2021-05-31                273
..        ...                ...
71 2026-12-31                301
72 2027-01-31                296
73 2027-02-28                297
74 2027-03-31                289
75 2027-04-30                299

[76 rows x 2 columns]

In [13]:
df.date[0]

Timestamp('2021-01-31 00:00:00')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               76 non-null     object
 1   waiting_list_size  76 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [16]:
df_filtered = df[(df['date'] <= last_month) & (df['date'] > earliest_month)]